.overview-container {
    margin-left: 50px;
}


.overview-div {
    width: 353px;
    height: 308px;
    border-radius: 6px;
    border: solid 1px #e4e4e8;
    display: inline-block;
    overflow: scroll;
  }
.overview-div-container {
    margin-left: 14px;
    margin-top: 30px;
}
.overview-div-header {
    font-family: Lato;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #444444;
    margin-bottom: 30px;
}
#view-all {
    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #50e2c1;
}
#overview {
    margin-bottom: 38px;
}
#clients {
    margin-right: 17px;
}
.client-div {
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #444444;
    display: inline-block;
    width: 50%;
}
.client-div-link {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 900;
    color: #50e2c1;
    font-style: normal;
    font-family: Lato;
    display: inline-block;
}
#clientDivLink {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 900;
    color: #50e2c1;
    font-style: normal;
    font-family: Lato;
    display: inline-block;
}
#appointments {
    position: absolute;
}