.edit-link {
    margin-top: 18px; 
    margin-left: 180px; 
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #50e2c1;
}