.h1 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
    width: 146px;
    height: 57px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #444444;
    
}
.addClient {
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #50e2c1;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: #50e2c1;
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

/* this is for the bootstrap modal button*/
.btn {
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #50e2c1;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: #50e2c1;
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    
}
.btn-primary:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
   
}
.btn:hover {
    background-color: #2da085;
}
/* ...end of bootstrap modal button css */

/* this is for the modal window */
.modal-dialog {
  
  height: 700px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 695px;
    }
}
.modal-header {
    border: none;
    margin-bottom: 50px;
}
.modal-title {
    padding-left: 35px;
   
    height: 57px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #444444;
}
.modal-body {
    padding: 0 0 0 0;
}
.modal-footer {
    border: none;
}

.modal-content {
    border: none;
}
.container-fluid {
   
}
.col-sm-7 {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #444444;
}
.col-sm-7 {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #444444;
}
.col-sm-5 {
    padding-left: 50px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
}
.profileImg {
    width: 204px;
    height: 214px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-top: 20px;
}
.Rectangle-Copy-Modal {
    width: 334px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 15px;
  }
.Rectangle-Copy-Height {
    width: 132px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;

}
.Rectangle-Copy-Weight {
    width: 90px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
}
.Rectangle-Copy-Bodyfat {
    width: 90px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
}
.heightDiv {
    display: inline-block;
    padding-right: 10px;
}
.weightDiv {
    display: inline-block;
    padding-right: 10px;
}
.bfatDiv {
    display: inline-block;
}
.pInfo {
    color: #c7c7c7;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
}
.botHeaders {
    margin-top: 22px;
}

.clientSearch {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 50px;
    margin-top: 55px;
    font-weight: bold;
    color: #bbbbbb;
}
.cRow {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #bbbbbb;
    font-weight: bold;
}
.c1 {
    display: inline-block;
    margin-right: 240px;
    margin-left: 60px;
    
}
.c2 {
    display: inline-block;
    margin-right: 290px;
    
}
.c3 {
    display: inline-block;
}
