.h1 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
    width: 146px;
    height: 57px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #444444;
    
}
.addClient {
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #50e2c1;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: #50e2c1;
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

/* this is for the bootstrap modal */
.btn {
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #50e2c1;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: #50e2c1;
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    
}
.btn-primary:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
   
}
.btn:hover {
    background-color: #2da085;
}

.clientSearch {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 50px;
    margin-top: 55px;
    font-weight: bold;
    color: #bbbbbb;
}
.cRow {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #bbbbbb;
    font-weight: bold;
}
.c1 {
    display: inline-block;
    margin-right: 240px;
    margin-left: 60px;
    
}
.c2 {
    display: inline-block;
    margin-right: 290px;
    
}
.c3 {
    display: inline-block;
}
.client {
    width: 727px;
    height: 57px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 50px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
}
.clientName {
    margin-left: 18px;
    margin-top: 18px;  
    color: #444444;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
}
.clientDate {
    margin-top: 18px;  
    margin-left: 50px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #bbbbbb;
}
.client a {
    margin-top: 18px; 
    margin-left: 180px; 
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #50e2c1;
}
.client a:hover{
    cursor: pointer;
}