.parentElement{
    width: 1140px;
    height: 1024px;
    background-color: #fbfbfc;
}
.childElement{
    width: 827px;
    height: 833px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    top: 95.5px;
    left: 270px;
}