
.Rectangle-Copy-3 {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    background-color: #50e2c1;
  }
  .Login-Alt {
    width: 1140px;
    height: 687px;
    background-color: #fbfbfc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -343.5px 0 0 -570px;
  }
  .col-nested-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: none;
  }
  .imgDiv {
      display: inline-block;
      height: 687px;
  }
  .loginLogoDiv {
      text-align: center;
      font-size: 14px;
      color: #444444;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 3.1px;
      padding-top: 50px;
      
  }
.loginLogo{
    margin-right: 10px;
}
  .login-hero {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
  }
  .Shape {
    width: 16px;
    height: 18px;
    border: solid 2px #50e2c1;
  }
  .Rectangle-path {
    width: 8px;
    height: 4px;
    border-radius: 1px;
    border: solid 2px #50e2c1;
  }
  .FIT-CLIENT-Copy {
    width: 100px;
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.1px;
    text-align: left;
    color: #444444;
    display: inline-block;
  }
  
  .FIT-CLIENT-Copy .text-style-1 {
    letter-spacing: normal;
  }
  .fb {
    background-color: #4468b0;
    color: white;
    border: none;
  }
  .google {
    background-color:#dd4b39;
    color: white;
    border: none;
  }
  
  h1{
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      font-family: 'Lato', sans-serif;
  }
  .Rectangle-login {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 130px;
    margin-top: 10px;
    font-weight: bolder;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    
  }
  .Rectangle-Copy {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 130px;
    margin-top: 10px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    background-color: #4468b0;
  }
  .Rectangle-Copy:hover {
    cursor: pointer;
    background-color: #32559b;
  }
  
  .Rectangle-Copy-2{
    width: 304px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 130px;
    margin-top: 10px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    background-color:#dd4b39;
    
  }
  .Rectangle-Copy-2:hover {
    cursor: pointer;
    background-color:#be3c2b;
  }

  .Rectangle-Copy-3 {
    width: 304px;
    height: 45px;
    border-radius: 6px;
    background-color: #50e2c1;
    text-align: center;
    color:#ffffff;   
    margin-left: 130px;
    margin-top: 10px;
    font-weight: 500;
    border: none;
    font-family: 'Lato', sans-serif;
  }
  .Rectangle-Copy-3:hover {
    cursor: pointer;
    background-color: #2da085;
  }
  .oauth2 {
      /* margin-top: 60px; */
      color: #444444;
  }
  .regLog {
    padding-bottom: 100px;
  }
  .hrDiv{
    color: #cccccc;
    display: table;
    margin-left: 100px;
    margin-top: 10px;
  }
  hr {
      width: 130px;
      margin-right: 15px;
      margin-left: 15px;
      display: inline-block;
      text-align: center;
      
  }
  .hrText {
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
  }
