.client {
    width: 727px;
    height: 57px;
    border-radius: 6px;
    border: solid 1px #e5e5e9;
    margin-left: 50px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
}
.clientName {
    margin-left: 18px;
    margin-top: 18px;  
    color: #444444;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
}
.clientDate {
    margin-top: 18px;  
    margin-left: 50px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #bbbbbb;
}
.client a {
    margin-top: 18px; 
    margin-left: 180px; 
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #50e2c1;
}
.client a:hover{
    cursor: pointer;
}